EPD_SESSION_SECRET=change-me-long-random
EPD_DEVICE_TOKEN=change-me-device-token
EPD_ALLOWLIST=yzy.zhenyu@gmail.com
EPD_DEFAULT_DEVICE_ID=441bf6923320
EPD_PUBLIC_BASE=https://onlyclaws.world/epaper
EPD_DATA_DIR=/opt/epaper/data
KURONEKO_BASE=https://kuroneko.chat
